<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package Name="LoipvRemote"
           Manufacturer="Loipv"
           Language="1033"
           Version="!(bind.FileVersion.MainExecutableFile)"
           UpgradeCode="$(UpgradeCode)"
           Scope="perUser">
    <MajorUpgrade Schedule="afterInstallInitialize"
                  DowngradeErrorMessage="A newer version of LoipvRemote is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="LocalProgramsFolder" Name="Programs">
        <Directory Id="INSTALLFOLDER" Name="LoipvRemote" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="DesktopFolder" />
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="LoipvRemote" />
    </StandardDirectory>

    <ComponentGroup Id="ApplicationPayload" Directory="INSTALLFOLDER">
      <Component Id="MainExecutableComponent" Guid="A028EE50-3135-46C7-83C0-1D14D36E146C">
        <File Id="MainExecutableFile" Source="$(var.ApplicationPublishDir)LoipvRemote.exe" KeyPath="yes" />
      </Component>
      <Files Include="$(var.ApplicationPublishDir)**">
        <Exclude Files="$(var.ApplicationPublishDir)LoipvRemote.exe" />
        <Exclude Files="$(var.ApplicationPublishDir)**\*.pdb" />
      </Files>
    </ComponentGroup>

    <ComponentGroup Id="ShortcutComponents">
      <Component Id="DesktopShortcutComponent"
                 Directory="DesktopFolder"
                 Guid="F78E5A16-A2F7-4BD9-9250-CBF3016CCCDA">
        <Shortcut Id="DesktopShortcut"
                  Name="LoipvRemote"
                  Target="[#MainExecutableFile]"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon.ico" />
        <RegistryValue Root="HKCU"
                       Key="Software\LoipvRemote"
                       Name="DesktopShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
      <Component Id="StartMenuShortcutComponent"
                 Directory="ApplicationProgramsFolder"
                 Guid="193B9E14-F40E-44F1-8514-BED253BCBF75">
        <Shortcut Id="StartMenuShortcut"
                  Name="LoipvRemote"
                  Target="[#MainExecutableFile]"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon.ico" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU"
                       Key="Software\LoipvRemote"
                       Name="StartMenuShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <Feature Id="MainFeature" Title="LoipvRemote" Level="1" AllowAdvertise="no">
      <ComponentGroupRef Id="ApplicationPayload" />
      <ComponentGroupRef Id="ShortcutComponents" />
    </Feature>

    <Icon Id="AppIcon.ico" SourceFile="Resources\AppIcon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch LoipvRemote now" />
    <Property Id="WixShellExecTarget" Value="[#MainExecutableFile]" />
    <CustomAction Id="LaunchApplication"
                  BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
                  DllEntry="WixShellExec"
                  Execute="immediate"
                  Impersonate="yes"
                  Return="ignore" />

    <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />
    <UI>
      <Publish Dialog="ExitDialog"
               Control="Finish"
               Event="DoAction"
               Value="LaunchApplication"
               Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 AND NOT Installed" />
    </UI>
    <WixVariable Id="WixUILicenseRtf" Value="Resources\License.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\Installer_Side.png" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources\Installer_Header.png" />
  </Package>
</Wix>
